.App {
  text-align: center;
}
*
{
  box-sizing: border-box;
}

h1
{
  font-size: 50px;
  font-weight: 5;
}

.container
{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

header
{
  background-color: rgb(2, 2, 61);
  color: rgb(18, 140, 197);
  text-align: center;
  padding: 10px 0 10px 0;
}

header h1
{
  width: 70%;
  margin: 0 auto;
  display: inline-block;
}

.main-wrapper
{
  background-color: rgb(20, 20, 80);
  color: aliceblue;
  text-align: center;
  padding: 0 0 320px 0;
}

.total-amount
{
  font-size: 40px;
  width: 30%;
  padding: 100px 0 20px;
  border-bottom: solid 2px aliceblue;
  margin: 0 auto 90px auto;
  display: flex;
}

.card-box
{
  width: 100%;
  padding-bottom: 100px;
  margin: 0 auto;
}

.item-card
{
  display: inline-block;
  width: 20%;
  margin-right: 40px;
  margin-bottom: 70px;
  text-align: center;
  box-shadow: 0 0 6px #e8e8e8;
  background-color: rgb(13, 17, 126);
  cursor: pointer;
}

.item-name
{
  font-size: 20px;
}

.item-price
{
  font-size: 18px;
}

.modal
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-inner
{
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  width: 480px;
  padding-bottom: 45px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.modal-header
{
  width: 90%;
  border-bottom: solid 2px black;
  margin: 0 auto;
}

.modal-name
{
  font-size: 35px;
  color: black;
}

.modal-info
{
  font-size: 30px;
  color: black;
}

.modal-close-btn
{
  font-size: 20px;
  color: #8491a5;
  width: 200px;
  padding: 16px 0;
  border: 0;
  background-color: #f0f4f9;
  margin: 50px 0 0 0;
  cursor: pointer;
}

.modal-close-btn:hover
{
  color: #8491a5;
  background-color: #ccd9ea;
  transition: 0.2s ease-in-out;
}

.modal-addition
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-addition .modal-inner
{
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  width: 600px;
  padding-bottom: 45px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.modal-addition .modal-info
{
  font-size: 30px;
  color: black;
}


footer p
{
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
}