/*チカチカする動き*/
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 4px rgb(190, 199, 138),
      0 0 11px rgb(73, 80, 60),
      0 0 19px rgb(36, 41, 38),
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  20%, 24%, 55% {
      text-shadow: none;
  }
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 200;
  src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}


h1{ font-family: 'Kaushan Script';}


/* ボタン */
/* マイページ関連ボタン */
.to_mypage_button,.close_mypage_button{
  --glow-color: rgb(175, 101, 240);
  --glow-spread-color: rgba(181, 129, 230, 0.781);
  --enhanced-glow-color: rgb(159, 71, 241);
  --btn-color: rgb(64, 24, 102);
  animation: flicker 3s infinite alternate;}
.sign_out_button{
  --glow-color: rgb(100, 226, 68);
  --glow-spread-color: rgba(83, 129, 40, 0.781);
  --enhanced-glow-color: rgb(43, 170, 85);
  --btn-color: rgb(24, 53, 35);
  animation: flicker 1.5s infinite alternate;
}

/* 追加ボタン関連 */
.to_addmodal_button{
    --glow-color: rgb(100, 226, 68);
    --glow-spread-color: rgba(83, 129, 40, 0.781);
    --enhanced-glow-color: rgb(43, 170, 85);
    --btn-color: rgb(24, 53, 35);
    animation: flicker 1.5s infinite alternate;}

.close_addmodal_button{
  --glow-color: rgb(175, 101, 240);
  --glow-spread-color: rgba(181, 129, 230, 0.781);
  --enhanced-glow-color: rgb(159, 71, 241);
  --btn-color: rgb(64, 24, 102);
  animation: flicker 3s infinite alternate;
}




  /* ボタン共通部分 */
  .to_mypage_button,.close_mypage_button,.to_addmodal_button,.sign_out_button,.close_addmodal_button,addmoda{
  outline: none;
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  width: 200px;
  margin: 10px;
}
.to_mypage_button::after,.close_mypage_button::after,.to_addmodal_button::after,.sign_out_button::after,.close_addmodal_button::after,.addmodal_add_button::after{
    pointer-events: none;
    content: "";
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}
.to_mypage_button:hover,.close_mypage_button:hover,.to_addmodal_button:hover,.sign_out_button:hover,.close_addmodal_button:hover,.addmodal_add_button:hover{
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
}










/*モーダル*/
.user_name, .add_subscription, .remove_subscription{
  font-size: 50px;
  color: #fff;
  font-family:'Kaushan Script';
  text-decoration: underline;
  text-align: center;
}
.candidates{
  color: #fff;
  display: flex;
  margin:40px
}


  
   































/*body*/
.App_body{
  background-color: black;
  color: white;
}
  .total {
    font-size: 20px;
    font-style: italic;
    color: #fff;
    border-radius: 2rem;
    text-transform: uppercase;  
    justify-content: center;  
    font-family: 'Exo 2', sans-serif;
    align-items: center;
    text-align: center;
    margin-top: 50px;

    text-shadow:
        0 0 7px rgb(218, 240, 200),
        0 0 10px rgb(201, 214, 178),
        0 0 21px rgb(161, 202, 185),
        0 0 42px rgb(143, 170, 161),
        0 0 82px rgb(107, 127, 120),
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
        animation: flicker 3s infinite alternate;
    }
  

  
  .total::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .total::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .total:focus {
    outline: none;
  }

/*サブスク一覧*/
  .middle{
  color: aliceblue;
  font-size: 100%;
  justify-content: center;
  height: 100px;
  text-align:center
}
.subsc{
  background: url(522189.jpg) rgb(0, 0 , 0 , 0.3);
  background-position: center;
  background-repeat: no-repeat;
  width: 70%;
  height: 100%;
  color: white;
  font-size: 60px;
  font-weight: 200;
  font-family: "Kaushan Script";
  border-color: rgb(0, 0 , 0 , 0.8);
  margin-top: 30px;
  margin-left: 20px;
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
}
