.modal-close-btn{

  --glow-color: rgb(175, 101, 240);
  --glow-spread-color: rgba(181, 129, 230, 0.781);
  --enhanced-glow-color: rgb(159, 71, 241);
  --btn-color: rgb(64, 24, 102);
  animation: flicker 3s infinite alternate;


  outline: none;
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  width: 200px;
  margin: 10px;

}
.modal-inner
{
  background-color: black;
  color: aliceblue;
  
}
.modal-name,.modal-info{
  color: aliceblue;
  text-align: center;

}