/* 合計金額について */
.total-amount-font{
  font-size: 50px;
  font-style: italic;
  color: #fff;
  border-radius: 2rem;
  text-transform: uppercase;  
  justify-content: center;  
  font-family: 'Exo 2', sans-serif;
  align-items: center;
  text-align: center;
  margin-top: 50px;

  text-shadow:
      0 0 7px rgb(218, 240, 200),
      0 0 10px rgb(201, 214, 178),
      0 0 21px rgb(161, 202, 185),
      0 0 42px rgb(143, 170, 161),
      0 0 82px rgb(107, 127, 120),
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
      animation: flicker 3s infinite alternate;
  }